[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
selenium = "*"
allure-pytest = "*"
webdriver-manager = "*"
pytest-xdist = "*"
python-dotenv = "*"
pytest-repeat = "*"
faker = "*"
requests = "*"
requests-toolbelt = "*"
pillow = "*"
sqlalchemy = "*"
pymysql = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.10"
